/*ul.menu li{
 text-align: center;
}*/


.content2 { /*should the nav bar in a common layout for all pages*/
  margin: -4px 0px 100px -252px;
}


*{
  text-align: center;
}

img{
  margin-left: auto; /*because the one with * won't affect the images, because they are inline, if I remember*/
  display: block;
  margin-right: auto;  
  width:1000px;
  height: auto;
}

img.arab{
  margin-left: auto;
  display: block;
  margin-right: auto;  
  width:100px;
  height: auto;
}

