/*move the header toward the left
  * witdh: witdh that will have the content of the page.
  */ 
.content { 
	margin: 0 auto;
	width: 880px;
}

body {
 padding: 0; margin: 0; font: 0.9em Arial, sans-serif; line-height: 1.5em;
}

ul.menu li {
  display:inline-block;
  font-style: bold;
}


ul.menu li a:link{
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 200%;
  padding: 0px 50px 0px 0px;
}


