ul.menu {
 margin: 10px 0px 0px -50px ;
}

a.parttitle {
    font-weight: bold;
}

a:link {
  text-decoration: none; 
}


/*
 * gives a margin to the text below about me on the left
 */
.sd_left {
    background-color: #FFF;
	color: #000;
	margin: 0 0 0px 0px;
	padding: 0px 0px 0px 5px;
	width: 620px;
	
}	

/*
 * gives a margin to the right column
 * padding 0 0 0 right
 */
.sd_right {
    clear:both;
    background-color: #FFF;
	float: right;
	color: #000;
	margin: 20px 0px 0 0;
	padding: 0px 0px 0 15px; 
	width: 200px;
	border-left: 1px dashed #ccc;
}	

/*
 * text margin for below about me
 */
.text_padding {
	padding: 15px 0 0 0;
}
/*
 * space between the text
 */

/*style of the welcome header */
.main_content h2 {
	background-color: #FFF;
	padding: 10px 0 5px 0; 
	color: #46574D;
	font: bold 1.6em Arial, sans-serif;
}
